
 
.subscribe-button{background-color: rgb(240, 39, 39);
    color:white;
    font-size: larger;
    border:none;
   padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    }

.subscribe-button:hover{
    opacity:0.7}


.subscribe-button:active{opacity: 0.4}

    .join-button{background-color: white;
    color: rgb(29, 155, 240) ;
    font-size:large;
    border-color: rgb(29, 155, 240);
    border-style: solid;
    border-width: 3px;
    height : 40px;
    width : 80px;
    border-radius: 5px;
    cursor: pointer;   
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 5px;
    transition: color 1s;
    transition: background-color 0.5s;
    }
     .join-button:hover{
        background-color: rgb(29, 155, 240);
        color: white;
     }
     .join-button:active{
        opacity: 0.7;
     }

    .tweet-button{background-color:  rgb(29, 155, 240) ;
    color: white ;
    font-size: 25px;
    border-color: rgb(29, 155, 240);
    border-style: solid;
    border-width: 3px;
    height : 40px;
    width : 90px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 5px;
    transition: box-shadow 0.15s ;
}

.tweet-button:hover{box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

}
