    p{
        font-family: Roboto;
        margin-top: 0;
        margin-bottom: 0;
    }
    .video-title{

        font-size: 19px;
        font-weight: bold;
        width: 300px;
        line-height: 24px;
        margin-bottom: 3px;


    }

    .video-stats{
        font-size: 14px;
        color: rgb(96,96,96);

        margin-bottom: 3px;
    }

    .video-author{

        font-size: 16px;

        margin-bottom: 16;
        color: rgb(96,96,96);
        

    }

.video-description {

        font-size: 16px;

        width: 300px;
        line-height: 20px;
        color: rgb(96,96,96);
        margin-bottom: 65px;
}

.apple-text{
    margin-bottom: 50px;
    font-size:  16px;
    background-color: rgb(255, 38, 38);
    color:white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.shop-link{
    cursor: pointer;
}
.shop-link:hover{
    text-decoration: underline;
    margin-left: 5px;
}
