 p{
                
                margin-top: 0px;
                margin-bottom: 0px;
             }

             body{
             /*  This style below will be in inheritance */
               font-family: Roboto, Arial;
                margin:0 ;
                padding-top: 80px ;
                padding-left: 86px;
                padding-right: 24px;
                background-color: rgb(250, 250, 250);
             }