
            .thumbnail{
                width:100%;

                border-radius: 5px;
            }
        
            .video-info{
                margin-left: 5px;
            }

        
            .video-info-grid {
               
                display:grid ;
                grid-template-columns: 50px 1fr ;
            }
           

            .profile-picture{
                text-decoration: none;
                width: 36px;
                border-radius: 40px;
            
                
            }
            .profile-picture:hover{
                cursor: pointer;
            }

            .video-title{
                text-decoration: none;
                color:inherit;
                margin-top: 0px; 
                font: size 14px;
             font-weight: 500;
             line-height: 15px;
             margin-bottom: 10px;
            }

            .thumbnail-row{
                
                margin-bottom: 8px;;
                position: relative;
            }

            .video-time{
                
                font-size: 12px;
                font-weight: 500px;
                padding: 4px 2px;
                border-radius: 3px;
                background-color: black;
                color: white;
                position: absolute;
                bottom: 10px;
                right: 5px;

            }

            .thumbnail:hover{
                border-radius: 0px;
                cursor: pointer;
            }
            .video-author,
            .video-stats{
                text-decoration: none;
                color: inherit;
                font-size: 14px;
                color:rgb(96,96,96);
                margin-bottom: 5px;
            }

            .video-author:hover{
                cursor: pointer;
            }
        
           .video-grid{
            display:grid;
            
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px ;
           
           }

           @media(min-width : 1000px){
            .video-grid{
                grid-template-columns: 1fr 1fr  1fr 1fr;
            }
           }

           @media(min-width: 751px) and (max-width:999px){
             .video-grid{
                grid-template-columns: 1fr 1fr 1fr;
           }
        }
            @media(max-width :750px){
            .video-grid{
                grid-template-columns:  1fr 1fr;
            }
           }

           